@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/481/976/original/social-media-emoji-banner-background-vector.jpg");
  background-position: center;
  background-size: cover;
}
.App {
  background-color: #e6e6e659;
}
.App.darkbg {
  background-color: #000000c2;
}

.hero {
  background-image: url("https://img.freepik.com/premium-vector/beaming-grinning-face-with-smiling-eyes-smiley-emoji-with-open-mouth-happy-laugh-emoticon_248162-93.jpg?w=2000");
  padding: 5% 0;
  display: flex;
  background-position: center;
  flex-direction: column;
  align-items: center;
}
.hero h2 {
  font-size: 70px;
  font-weight: 900;
  margin: 15px 0;
}
.hero h3{
  color: black;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
@media only screen and (max-width: 480px) {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.App {
  background-color: #e6e6e659;
  align-items: center;
}
.App.darkbg {
  background-color: #000000c2;
}

.hero {
  background-image: url("https://img.freepik.com/premium-vector/beaming-grinning-face-with-smiling-eyes-smiley-emoji-with-open-mouth-happy-laugh-emoticon_248162-93.jpg?w=2000");
  padding: 5% 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h2 {
  font-size: 70px;
  font-weight: 900;
  margin: 15px 0;
}
.hero h3{
  color: black;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
  }